@use '../../utils/colors.scss' as *;

.field {
  display: flex;
  flex-direction: column;
  gap: 10px;

  &-label {
    display: block;

    color: $gray-700;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
  }

  &-container {
    position: relative;
  }

  &-icon-prepend,
  &-icon-append {
    height: 36px;
    width: 36px;

    padding: 10px;

    position: absolute;
    top: 2px;

    display: flex;
    justify-content: center;
    align-items: center;

    box-sizing: border-box;

    user-select: none;

    cursor: pointer;

    fill: $gray-700;
    border: none;

    transition: border-color .2s ease-in-out;
  }

  &-icon-prepend {
    left: 2px;

    border-right: 2px solid $gray-300;
  }

  &-icon-append {
    right: 2px;

    border-left: 2px solid $gray-300;
  }

  &-invalid {
    border-color: $red-500;
  }

  &-errors {
    margin-top: 5px;

    display: flex;
    flex-direction: column;
    gap: 5px;
  }

  &-error {
    display: block;

    color: $red-500;
    font-size: 12px;
    line-height: 16px;
  }

  &-string {
    height: 40px;
    width: 100%;

    padding: 8px 10px;

    font-size: 14px;
    line-height: 20px;
    color: $gray-700;

    background-color: transparent;

    border: 2px solid $gray-300;
    border-radius: 6px;

    box-sizing: border-box;

    transition: all 0.2s ease-in-out;

    &:focus {
      border-color: $indigo-500;
    }
  }

  &-input-icon {
    &-left {
      padding-left: 50px;
    }

    &-right {
      padding-right: 50px;
    }
  }
}

.dark {
  .field {
    &-label {
      color: $gray-50;
    }

    &-icon-prepend,
    &-icon-append {
      fill: $gray-50;

      border-color: $gray-700;

      transition: border-color .2s ease-in-out;
    }

    &-string {
      color: $gray-50;

      border-color: $gray-700;

      &:focus {
        border-color: $indigo-500;
      }
    }
  }
}
