@use '../../utils/colors.scss' as *;

.page {
  height: 100dvh;
  width: 100%;
  padding: 70px 20px 20px 20px;

  display: flex;
  flex-direction: column;
  gap: 20px;

  overflow-y: auto;

  box-sizing: border-box;
}

@media (min-width: 768px) {
  .page {
    padding: 30px;
  }
}
