@use './animations/login/bounceContentLeft.scss' as *;
@use './animations/login/bounceContentRight.scss' as *;
@use './animations/login/bounceLogoLeft.scss' as *;
@use './animations/login/bounceLogoRight.scss' as *;

@use './animations/transitions/disappearElement.scss' as *;
@use './animations/transitions/fade.scss' as *;
@use './animations/transitions/page.scss' as *;

.chevron {
  transition: transform 0.2s ease-in-out;
}
.chevron-up {
  transform: rotate(90deg);
}
.chevron-down {
  transform: rotate(-90deg);
}
.chevron-right {
  transform: rotate(180deg);
}
.chevron-left {
  transform: rotate(0deg);
}
