@use '~/assets/scss/main.scss' as *;
@use '~/assets/scss/animations.scss' as *;
@use '~/assets/scss/utils/colors.scss' as *;

@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

body {
  margin: 0;
  font-family: 'Inter', sans-serif;
  transition: background-color 0.2s ease-in-out;

  * {
    outline: none;
  }

  input,
  label,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    transition: color 0.2s ease-in-out;
  }

  button {
    background-color: transparent;
  }
}

.root {
  display: flex;
  justify-content: space-between;
}

.page-container {
  height: 100dvh;
  width: 100%;
  min-width: 0;

  box-sizing: border-box;
}

::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

::-webkit-scrollbar-track {
  border-radius: 6px;
}

::-webkit-scrollbar-thumb {
  border-radius: 6px;
  cursor: pointer;
}

.light {
  background-color: white;

  ::-webkit-scrollbar-track {
    background: $gray-300;
  }

  ::-webkit-scrollbar-thumb {
    background: $gray-600;
  }

  ::-webkit-scrollbar-thumb:hover {
    background: $gray-500;
  }

  input:-internal-autofill-selected {
    background-color: lightblue;
  }
}

.dark {
  background-color: $gray-800;

  ::-webkit-scrollbar-track {
    background: $gray-600;
  }

  ::-webkit-scrollbar-thumb {
    background: $gray-400;
  }

  ::-webkit-scrollbar-thumb:hover {
    background: $gray-300;
  }
}
