$dark-blue-grey: rgba(42, 48, 60, 1);
$violet: rgba(95, 74, 221, 1);
$violet-op-75: rgba(95, 74, 221, 0.75);
$violet-op-50: rgba(95, 74, 221, 0.5);
$grey: rgb(210, 213, 219, 1);
$white: rgb(255, 255, 255, 1);
$soft-blue: rgba(47, 128, 237, 1);
$soft-blue-op-15: rgba(47, 128, 237, 0.15);
$soft-blue-op-25: rgba(47, 128, 237, 0.35);
$dark-red: rgba(171, 46, 38, 1);
$red: rgba(255, 0, 0, 1);