.disappear-element-enter-active,
.disappear-element-leave-active {
  transition: all 0.4s ease;
}

.disappear-element-enter-from,
.disappear-element-leave-to {
  opacity: 0;
  transform: scaleX(0);
  filter: blur(1rem);
}